body {
    scroll-behavior: smooth;
    font-family: newFont !important;
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 85%;
}

.widthFitContent{
  width: fit-content;
}
.colourRed{
  color: #fd4848 ;
}
.colourEggShell{
  color: #f5f3e8 ;
}
.colourOrange{
  color: #fd4848;
}
.colourMustard{
  color: #fdb92e ;
}
.colourPink{
  color: #ffa5db ;
}
.colourLightPink{
  color: #ffbfcb ;
}
.transparent{
    background-color: none;
}
.textUnderlined{
  text-decoration: underline;
}
/* FIRST OPTION*/
.textShadow{
  text-shadow:-3px 6px 4px #e2e2e2;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.mainBackground{
    background-color:#fffce8;
    /* background-size: cover; */

}
@font-face {
  font-family: "newFont";
  src: url("./fonts/Bright\ DEMO.otf");
}
.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .option1MainText{
    font-size: 4rem;
  }
.mainPagePrimaryLeftText{
  font-size: 3.7rem;

}
.mainPageSecondaryLeftText{
  font-size: 3rem;

}
.option1SecondText{
  font-size: 2rem;
}

/* SECOND PAGE */
.section2{
  /* background-color:#ffbfcb; */
  background-color:#bc9581;

}
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;

}
/* .dateTimeSideTitle{
font-size: 2rem;
}  
.dateTimeSideText{
  font-size: 2rem;  
} */

/* THIRD OPTION */
 .section3{
    background-color:#bc9581;
}

#section2{
  background-color:#fdb92e;

}
#section3{
  background-color:#f3c0a6;

}
.section3{
  background-color:#bc9581;
}

#section5{
  background-color:#fdb92e;
}

#weddingFAQ{
  background: #fffce8;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* text-align: center; */
}
.qAndA{
  margin: 1rem 0rem 2rem 0rem
}


/* WAVE CONTAINERS */
.wave-container {  
  height: 20vh;
  background-color: #fffce8;
  position: relative;
}

.wave-container::before {   
  content: "";
  width: 100%;
  height: 83px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 0vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23fdb92e'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {    
    height: 41.5px
  }  
}

.wave-container2 {  
  height: 20vh;
  background-color: #fdb92e;
  position: relative;
}

.wave-container2::before {   
  content: "";
  width: 100%;
  height: 78px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 51vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  116' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 85L50 80C100 75 200 64 300 43C400 22 500 -9 600 2C700 12 800 64 900 85C1000 106 1100 96 1150 90L1200 85V116H1150C1100 116 1000 116 900 116C800 116 700 116 600 116C500 116 400 116 300 116C200 116 100 116 50 116H0V85Z' fill='%23f3c0a6'/></svg>");
}

@media(max-width:850px) {
  .wave-container2::before {    
    height: 39px
  }  
}

.wave-container3 {  
  height: 20vh;
  background-color: #f3c0a6;
  position: relative;
}

.wave-container3::before {   
  content: "";
  width: 100%;
  height: 156px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 51vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  95' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 69L50 65C100 61 200 52 300 35C400 18 500 -7 600 1C700 10 800 52 900 69C1000 86 1100 78 1150 74L1200 69V95H1150C1100 95 1000 95 900 95C800 95 700 95 600 95C500 95 400 95 300 95C200 95 100 95 50 95H0V69Z' fill='%23fffce8'/></svg>");
}

@media(max-width:850px) {
  .wave-container3::before {    
    height: 78px
  }  
}

.wave-container4 {  
  height: 20vh;
  background-color: #fffce8;
  position: relative;
}

.wave-container4::before {   
  content: "";
  width: 100%;
  height: 95px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 75vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23fdb92e'/></svg>");
}

@media(max-width:850px) {
  .wave-container4::before {    
    height: 47.5px
  }  
}


.SmallScreen{
  display: none;
}
.LargeScreen{
  /* display: block; */
}
@media (max-width: 768px) {
  .LargeScreen {
       display: none;
  }
  .SmallScreen {
    display: block;
}
}